<section class="contest-current gh-outer">
    <div class="contest-current-inner gh-inner">
        {{!-- This Month's Prompt (dynamic) --}}
        <h2 class="contest-section-title is-title">Next Contest Details</h2>

        {{#get "posts" filter="tag:prompt" limit="1" order="published_at desc" include="tags"}}
            {{#if posts}}
                {{#foreach posts}}
                    <div class="contest-current-card">
                        <div class="contest-current-prompt">
                            <span class="contest-current-label">Theme</span>
                            {{#if excerpt}}
                                <p class="contest-current-prompt-text">{{excerpt}}</p>
                            {{/if}}
                        </div>
                        <dl class="contest-current-details">
                            {{#foreach tags}}
                                {{#match name "~^" "deadline="}}
                                    <div class="contest-detail contest-detail-info">
                                        <dt>Deadline</dt>
                                        {{#foreach (split name separator="=")}}
                                            {{#if @last}}
                                                <dd>{{this}}</dd>
                                            {{/if}}
                                        {{/foreach}}
                                    </div>
                                {{/match}}
                                {{#match name "~^" "words="}}
                                    <div class="contest-detail contest-detail-info">
                                        <dt>Word Count</dt>
                                        {{#foreach (split name separator="=")}}
                                            {{#if @last}}
                                                <dd>{{this}}</dd>
                                            {{/if}}
                                        {{/foreach}}
                                    </div>
                                {{/match}}
                                {{#match name "~^" "prize1="}}
                                    <div class="contest-detail contest-detail-prize">
                                        <dt>1st Place</dt>
                                        {{#foreach (split name separator="=")}}
                                            {{#if @last}}
                                                <dd>{{this}}</dd>
                                            {{/if}}
                                        {{/foreach}}
                                    </div>
                                {{/match}}
                                {{#match name "~^" "prize2="}}
                                    <div class="contest-detail contest-detail-prize">
                                        <dt>2nd Place</dt>
                                        {{#foreach (split name separator="=")}}
                                            {{#if @last}}
                                                <dd>{{this}}</dd>
                                            {{/if}}
                                        {{/foreach}}
                                    </div>
                                {{/match}}
                                {{#match name "~^" "prize3="}}
                                    <div class="contest-detail contest-detail-prize">
                                        <dt>3rd Place</dt>
                                        {{#foreach (split name separator="=")}}
                                            {{#if @last}}
                                                <dd>{{this}}</dd>
                                            {{/if}}
                                        {{/foreach}}
                                    </div>
                                {{/match}}
                            {{/foreach}}
                        </dl>
                        <a href="/submit/" class="gh-button contest-current-cta">Submit Your Story</a>
                    </div>
                {{/foreach}}
            {{else}}
                <p>Prompt coming soon.</p>
            {{/if}}
        {{/get}}

    </div>
</section>

